{% extends "tsic/header.html" %}
<div class="container">
{% block content %}
    <section>
        {% if validlink %}
        <div class="container">
            <div class="section-heading">
                <h2> Change your password </h2>
                <br>

                <div class="col-md-12">
                    <div class=panel-body>
                        <!-- style="max-width:600px;padding:40px 20px;background:#ebeff2" -->
                        <form class="form-horizontal" role="form" method="post">
                            {% csrf_token %}

                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ form.non_field_errors }}</strong>
                                </div>
                            {% endif%}

                            <div class="form-group">
                                <label for="new_password1" class ="control-label col-sm-4"> password </label>
                                <div class="col-sm-4">
                                    <input class="form-control" placeholder="enter password" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" type="password"/>
                                </div>
                            </div>

                            {% if form.new_password1.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ form.new_password1.errors}}</strong>
                                </div>
                            {% endif%}

                            <div class="form-group">
                                <label for="new_password2" class ="control-label col-sm-4"> confirm password </label>
                                <div class="col-sm-4">
                                    <input class="form-control" placeholder="confirm password" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" type="password"/>
                                </div>
                            </div>

                            {% if form.new_password2.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ form.new_password2.errors}}</strong>
                                </div>
                            {% endif%}

                            <input type="submit" class="btn btn-primary" value="reset password" style="margin-top:30px"/>
                            <input type="hidden" name="next" value="{{ next }}"/> <br>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
            <div class="container">
                <div class="section-heading">
                    <div class=panel-body>
                        <h2> The password reset failed </h2>
                        <br>

                        <p>The password reset link was invalid, please request a new password reset. </p>
                    </div>
                </div>
            </div>

        {% endif %}
    </section>

{% endblock %}
</div>
