{% extends "tsic/header.html" %}
<div class="container">
{% block content %}
    <section>
        {% if validlink %}
        <div class="container">
            <div class="section-heading text-center">
                <h2> Change your password </h2>
                <br>

                <div class="col-md-12">
                    <div class=panel-body>
                        <!-- style="max-width:600px;padding:40px 20px;background:#ebeff2" -->
                        <form class="form-horizontal" role="form" method="post">
                            {% csrf_token %}

                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ form.non_field_errors }}</strong>
                                </div>
                            {% endif%}

                            <table class="table">
                                <col style="width:20%" span=1 />
                                <tr>
                                    <div class="form-group">
                                        <th scope="row"> <label for="new_password1" class ="control-label"> new password </label> <th>
                                        <td scope="row"> <input class="form-control" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" type="password"/> </td>

                                        <td>
                                            {% if form.new_password1.errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ form.new_password1.errors}}</strong>
                                                </div>
                                            {% endif%}
                                        </td>
                                    </div>
                                </tr>

                                <tr>
                                    <div class="form-group">
                                        <th scope="row"> <label for="new_password2" class ="control-label"> confirm new password </label> <th>
                                        <td scope="row"> <input class="form-control" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" type="password"/> </td>

                                        <td>
                                            {% if form.new_password2.errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ form.new_password2.errors}}</strong>
                                                </div>
                                            {% endif%}
                                        </td>
                                    </div>
                                </tr>
                            </table>

                            <input type="submit" class="btn btn-primary btn-small" value="reset password" style="margin-top:30px"/>
                            <input type="hidden" name="next" value="{{ next }}"/> <br>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
            <div class="container">
                <div class="section-heading text-center">
                    <div class=panel-body>
                        <h2> The password reset failed </h2>
                        <br>

                        <p> The password reset link was invalid, please request a new link. </p>
                    </div>
                </div>
            </div>

        {% endif %}
    </section>

{% endblock %}
</div>
