{% extends "tsic/header.html" %}

{% block title %} tsic {% endblock %}

{% load staticfiles %}

{% block content %}

<section>

    <img src="{% static 'img/uoft.png' %}" style="width:100%;">

    <div class="container">

        <h2 class="text-center" style="margin-top: 10px;"> Our Mission </h2>
            <p>
                Established in 1985, the Toronto Student Investment Counsel (formerly Hart House Investment Club) is the oldest student-run investment club at the University of Toronto.
            </p>
            <p>
                Our mission is to cultivate a passion for finance and investing within the undergraduate community at the University of Toronto. Through an educational platform encompassing hands-on learning in investing and portfolio management, TSIC provides its members with the relevant skill sets for a successful career in the financial services industry. Additionally, we host a number of events throughout the academic year to give students a better understanding of the capital markets. We welcome students from all faculties at the University of Toronto.
            </p>

            <hr>
        <br>

        <h2 class="text-center" style="margin-top: 10px;"> Get Involved </h2>
            <p>
                All students are welcome to sign-up for our general membership which grants access to a comprehensive suite of TSIC training workshops and events. Please visit our general membership page to get involved with us.
            </p>

            <p>
                Every year, we recruit a number of qualified candidates to join the TSIC Analyst Program. Our Analysts graduate to work at the leading institutions worldwide.

                The Analyst Program at TSIC is geared towards all interested second and third-year students at the University of Toronto. All analysts work closely with 4th year Associates to gain hands-on investing and portfolio management experience. Analysts are also provided with mentorship pairings with TSIC alumni as well as the chance to participate in exclusive networking events.
            </p>

            <p>
                The Analyst hiring for 2018-19 academic year has been completed.
            </p>

            <hr>
        <br>
    </div>

</section>

{% endblock %}
